name: argo

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc-ver: ["8.6.5", "8.8.4", "8.10.2"]
      # complete all jobs
      fail-fast: false
    name: Argo - GHC v${{ matrix.ghc-ver }} - ubuntu-latest
    steps:
    - uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Get GHC
      run: |
        sudo apt-get install --no-install-recommends -y cabal-install-3.2 ghc-${{ matrix.ghc-ver }}
        echo "/opt/cabal/bin" >> $GITHUB_PATH
        echo "/opt/ghc/${{ matrix.ghc-ver }}/bin" >> $GITHUB_PATH
    - name: Cache
      uses: actions/cache@v1
      with:
        path: /home/runner/.cabal/store/ghc-${{ matrix.ghc-ver }}
        # Prefer previous SHA hash if it is still cached
        key: linux-${{ matrix.ghc-ver }}-${{ hashFiles('cabal.project.freeze') }}-${{ github.sha }}
        # otherwise just use most recent build.
        restore-keys: linux-${{ matrix.ghc-ver }}-${{ hashFiles('cabal.project.freeze') }}
    - name: Cabal update
      run: cabal update
      # Build macaw-base dependencies and crucible separately just so later
      # steps are less verbose and major dependency failures are separate.
    - name: Install python dependencies
      working-directory: ./python
      run: |
        if [ -f requirements.txt ]; then pip3 install -r requirements.txt; fi
    - name: Typecheck python code
      working-directory: ./python
      run: mypy argo
    - name: Build
      run: |
        cabal build all
    - name: Cabal argo tests
      run: cabal test argo
    - name: Argo client (Python) unit tests
      working-directory: ./python
      run: |
        bash tests/run_test_servers.sh
        python3 -m unittest tests/test_file-echo-api.py
