name: argo

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  # The CABAL_CACHE_VERSION environment variable can be updated to
  # force the use of a new cabal cache if the current cache contents
  # become corrupted/invalid.  This can sometimes happen when (for
  # example) the OS version is changed but older .so files are cached,
  # which can have various effects (e.g. cabal complains it can't find
  # a valid version of the "happy" tool).
  CABAL_CACHE_VERSION: 0

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc-ver: ["8.10.7", "9.0.2", "9.2.8", "9.4.8", "9.6.7", "9.8.4", "9.10.3", "9.12.2"]
        cabal-ver: ["3.10.1.0"]
      # complete all jobs
      fail-fast: false
    name: Argo - GHC v${{ matrix.ghc-ver }} - ubuntu-latest
    steps:
    - uses: actions/setup-python@v2
      with:
        # Ensure pyproject.toml and python/mypy.ini are kept in sync with the Python version here.
        python-version: '3.12'
    - uses: abatilo/actions-poetry@v4
      with:
        poetry-version: 1.4.2
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: true
    - name: Get GHC and Cabal
      uses: haskell-actions/setup@v2
      id: setup-haskell
      with:
        ghc-version: ${{ matrix.ghc-ver }}
        cabal-version: ${{ matrix.cabal-ver }}
    - uses: actions/cache/restore@v5
      name: Restore cabal store cache
      with:
        path: |
          ${{ steps.setup-haskell.outputs.cabal-store }}
          dist-newstyle
        # Prefer previous SHA hash if it is still cached
        key: ${{ env.CABAL_CACHE_VERSION }}-linux-${{ matrix.ghc-ver }}-${{ hashFiles('cabal.project.freeze') }}-${{ github.sha }}
        # otherwise just use most recent build.
        restore-keys: ${{ env.CABAL_CACHE_VERSION }}-linux-${{ matrix.ghc-ver }}-${{ hashFiles('cabal.project.freeze') }}
    - name: Cabal update
      run: cabal update
      # Build macaw-base dependencies and crucible separately just so later
      # steps are less verbose and major dependency failures are separate.
    - name: Install python dependencies
      working-directory: ./python
      # see https://github.com/python-poetry/poetry/issues/4210 for new-installer workaround details below
      run: |
        poetry config experimental.new-installer false
        poetry install
    - name: Typecheck python code
      working-directory: ./python
      run: poetry run mypy --install-types --non-interactive argo_client
    - name: Configure
      run: |
        cabal configure --enable-tests
    - name: Build
      run: |
        cabal build all
    - name: Cabal argo tests
      run: cabal test argo
    - name: Python argo-client unit tests
      working-directory: ./python
      run: poetry run python -m unittest discover --verbose tests
    - uses: actions/cache/save@v5
      name: Save cabal store cache
      if: always()
      with:
        path: |
          ${{ steps.setup-haskell.outputs.cabal-store }}
          dist-newstyle
        # Prefer previous SHA hash if it is still cached
        key: ${{ env.CABAL_CACHE_VERSION }}-linux-${{ matrix.ghc-ver }}-${{ hashFiles('cabal.project.freeze') }}-${{ github.sha }}
